html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui;
}

:root {
  --background-color: #222;
  --gutter-background-color: #444;
  --line-height: 20px;
  --font-size: 13px;
}

.editor {
  width: 100%;
  position: relative;
  height: 100%;
  height: 400px;
}

.codeflask {
  background: var(--background-color);
  color: #eee;
}

.codeflask.codeflask--has-line-numbers:before {
  border-right: 1px solid #111;
  background: var(--gutter-backgroun-color);
}

.codeflask .codeflask__textarea {
  caret-color: auto;
}

.codeflask .token.punctuation {
  color: #eee;
}

.codeflask .token.keyword {
  color: #8500ff;
}

.codeflask .token.operator {
  color: #ff5598;
}

.codeflask .token.string {
  color: #41ad8f;
}

.codeflask .token.comment {
  color: #9badb7;
}

.codeflask .token.function {
  color: #8500ff;
}

.codeflask .token.boolean {
  color: #8500ff;
}

.codeflask .token.number {
  color: #eee;
}

.codeflask .token.selector {
  color: #8500ff;
}

.codeflask .token.property {
  color: #8500ff;
}

.codeflask .token.tag {
  color: #8500ff;
}

.codeflask .token.attr-value {
  color: #8500ff;
}
