@font-face {
  font-family: Avara;
  src: url('/fonts/Avara-Bold.ttf');
}

@font-face {
  font-family: Avara;
  font-style: italic;
  src: url('/fonts/Avara-BoldItalic.ttf');
}

* {
  font-family: 'Avara', sans-serif;
}

.tarot-main {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.tarot-main h1 {
  margin: 0;
  font-size: 24px;
}

.tarot-main .meaning {
  /* font-style: italic; */
}

.tarot-main img {
  width: 180px;
  height: 300px;
  background: #ddd;
}
